* {
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

/* Begin Navbar Style */

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #333;
}

nav li:hover {
  background-color: #555;
}

/* End Navbar Style */

/* Begin Circle Style */

div.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border: 10px solid #333;
  background-color: #555;
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  z-index: 2;
}

/* End Circle Style */

/* Begin Line Style */

svg {
  overflow: visible;
  position: absolute;
  z-index: 1;
}

/* End Line Style */

.centered-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactive-circle-container {
  width: 100vw;
  height: 100vh;
}