* {
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

/* Begin Navbar Style */

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #333;
}

nav li:hover {
  background-color: #555;
}

/* End Navbar Style */

/* Begin Circle Style */

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.circle-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
}

div.circle {
  border: 10px solid #333;
  background-color: #555;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 50vh;
  height: 50vh;
  position: absolute;
  z-index: 1;
}

/* End Circle Style */

/* Begin Line Style */

svg {
  overflow: visible;
  transform: translate(0%, 110%);
  position: absolute;
  z-index: 2;
}

/* End Line Style */